/*
 * Base structure
 */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

html,
body {
  height: 100%;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

[hidden] {
  display: none;
}

#wrapper {
  width: 900px;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.col-md-1 { grid-column: span 1; }
.col-md-2 { grid-column: span 2; }
.col-md-3 { grid-column: span 3; }
.col-md-4 { grid-column: span 4; }
.col-md-5 { grid-column: span 5; }
.col-md-6 { grid-column: span 6; }
.col-md-7 { grid-column: span 7; }
.col-md-8 { grid-column: span 8; }
.col-md-9 { grid-column: span 9; }
.col-md-10 { grid-column: span 10; }
.col-md-11 { grid-column: span 11; }
.col-md-12 { grid-column: span 12; }


#episode-list .episode {
  border-top: 1px;
}

#episode-list h2 {
  margin: 1em 0 .3em 0;
}

#episode-list a {
  text-decoration: none;
}

#episode-list .publish-date {
  padding-top: 2em;
  font-weight: bold;
}


#hosts .img {
  display: inline-flex;
  width: 96px;
  height: 130px;
  border-radius: 50%;
}

#hosts .name {
  text-align: center;
  vertical-align: middle;
}
#hosts .row {
  font-size: 120%;
}

#hosts .bio {
  margin-top: 2em;
}

/*******************
     Episode Page
 *******************/
#episode .title {
  margin: 0 0 0.5em 0;
  font-size: 250%;
}

#episode .publish-date {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
  background: rgb(109, 179, 242); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(109, 179, 242, 1) 0%,
    rgba(84, 163, 238, 1) 50%,
    rgba(54, 144, 240, 1) 51%,
    rgba(30, 105, 222, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

  color: #fff;
  font-weight: bolder;
  font-size: 150%;
  padding: 1.5em;
  display: block;
}

#episode .publish-date span {
  clear: both;
  float: left;
}

#episode .publish-date span.year {
  font-style: italic;
}

#episode .links p {
  padding: .1em 0;
  margin: .1em 0;
}

audio { width: 100%;}

/*******  Sprites  *******/
.jess,
.todd,
.chris {
  background: url(/img/sprites.png) no-repeat;
  width: 96px;
  height: 130px;
}

.jess {
  background-position: 0 0;
}

.todd {
  background-position: -192px 0;
}

.chris {
  background-position: -96px 0;
}
